name: ci

on:
  push:
    branches:
      - main

jobs:
  build-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and export
        uses: docker/build-push-action@v5
        with:
          context: .
          tags: playground:latest
          outputs: type=docker,dest=/tmp/playground.tar
      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: playground
          path: /tmp/playground.tar

  build-wasm:
    runs-on: ubuntu-latest
    needs: build-image
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: playground 
          path: /tmp
      - name: Load image
        run: |
          docker load --input /tmp/playground.tar
          docker image ls -a          
      - name: Install container2wasm
        run: |
          curl https://github.com/ktock/container2wasm/releases/download/v0.5.1/container2wasm-v0.5.1-linux-amd64.tar.gz -Lo /tmp/c2w.tar.gz
          tar -C /usr/local/bin -xvf /tmp/c2w.tar.gz
      - name: Build
        run: |
          c2w playground:latest playground.wasm
      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: playground-wasm
          path: playground.wasm
  build-website:
    runs-on: ubuntu-latest
    needs: build-wasm
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: playground-wasm
          path: website
      - name: Build website
        run: |
          tar czf website.tar.gz --directory=website .
      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: github-pages
          path: website.tar.gz
  deploy:
    runs-on: ubuntu-latest
    needs: build-website
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
